
.article{
    width: 290px;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid #D9D9D9;
    padding-bottom:10px;
    cursor: pointer;
    margin: 10px 20px;


}

.image{
    position: relative;
    width: 290px;
    height: 150px;


}

.image > img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.category{
    background-color:#007BFF;
    width: 100px;
    text-align: center;
    border-radius: 7px;
    color: white;
    padding:5px;
    font-size: 12px;
    text-transform: uppercase;
    


}

.span{
    display: flex;
    margin: 10px;
    align-items: center;
    margin: 20px;
    margin-left: 20px;
}

.date{
    color: #D9D9D9;
    font-size: 12px;
    text-transform: uppercase;margin-left: 10px;
    margin-left: 20px;


}

.author{
    color: #007BFF;
    letter-spacing: 0.26em;
    margin: 10px 0px;
    margin-left: 20px;
    
}

.topic{
    font-size: 16px;
    font-weight: 700;
    color: black;
    margin-left: 20px;

}

.two{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

