/* General styling */
:root {
    --primaryColor: #007BFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    line-height: 2rem;
}
/* Utility styling */
.mheading {
    font-size: 2.3rem;
    line-height: 2.3rem;
    margin-bottom: 10px;
}
.mtext {
    font-weight: 100;
    margin-bottom: 10px;
}
.icon {
    margin-bottom: 2rem;
    font-size: 1.7rem;
}
.showPassword {
    background-color: #e0e0e0;
    color: #000;
    z-index: 2;
    border: none;
    border-radius: 0;
    border-bottom: 1px #555 solid;
    cursor: pointer;
}
/* Form styling */
.forms {
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    color: #000;
}
.card {
    border-radius: 19px;
    background: #e0e0e0;
    box-shadow:  8px 8px 16px #d3d3d3,
             -8px -8px 16px #ededed;
    margin: auto;
    padding: 2rem;
    width: 30rem;
    text-align: center;
    margin-top: 3rem;   
}

label {
    display: block;
    text-align: start;
    font-size: 1.2rem;

}
input {
    width: 100%;
    border: none;
    background-color: #e0e0e0;
    padding: 1rem;
    padding-left: 0;
    font-size: 1rem;
    border-bottom: 1px #555 solid;
    outline: none;
}

input:focus {
    border-bottom: 2px #000 solid;
}
.password{
    display: flex;
}
.formGroup {
    margin-bottom: 10px;
}
.rememberMe {
    display: flex;
}
.btn {
    display: inline-block;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    background-color: var(--primaryColor);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 400;
}